<router-outlet>
<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <a style="font-family: 'Abril Fatface', cursive;" href="/">MUZIX APP</a>
    <a routerLink='/show'>WishList</a>
    <div class="search-container">
      <app-presearch></app-presearch>
    </div>
  </div>
</body>

</html>
</router-outlet>